{% extends "base_generic.html" %}
{% block content %}

<h1> {{ request.user.first_name }}'s Transactions Log</h1><br />

<table class="table">
	<thead>
	    <tr>
	        <th>Date</th>
	        <th>Category</th>
	        <th>Income or Outcome</th>
	        <th>Amount</th>
	    </tr>
	</thead>
	<tbody>
    {% for log in logs %}
	    <tr> 
	        <td>{{ log.date }} </td>
	        <td>{{ log.category }} </td>
	        <td>{{ log.income_or_outcome }} </td>
	        <td>{{ log.amount }} NIS</td>
	    </tr>
    {% endfor %}
	</tbody>
</table>

{% endblock %}

{% block active %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'polls:myview' %}">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'polls:income' %}">Manage balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'polls:history_log' %}">Transactions Log</a>
            </li>
          </ul>

</nav>
{% endblock %}
{% block title %}
<title>History</title>
{% endblock %}