{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}

<h1>{{ request.user.first_name }} {{ request.user.last_name }}'s Logs</h1><br />
{% block log %}

{% endblock %}

{% endblock %}

{% block active %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'polls:myview' %}">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'polls:income' %}">Manage balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'polls:history_log' %}">Logs</a>
            </li>
          </ul>
</nav>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block title %}
<title>History</title>
{% endblock %}