{% extends "base_generic.html" %}
{% block content %}

<h1>Registeration Page</h1>


{% if error_message %}
<h3> {{ error_message }} </h3>
{% endif %}
<form action="{%url 'polls:register_to_db' %}" method="post">
{% csrf_token %}
    Username: <input type="text" required name="username" /><br/>
    Email: <input type="email" required name="email" /><br/>
    Password: <input type="password" required name="password" /><br/>
    First Name: <input type="text" required name="first_name" /><br/>
    Last Name: <input type="text" required name="last_name" /><br />
<input type="submit" value="Submit" />
</form>

{% endblock %}